<% @heading = 'Change Password' %>
<%= error_messages_for @user %>

<%= form_for(:user, :url => { :action => 'change_password'} ) do |f| %>
    <div class="form-row">
    	<label>Password:</label>
		<%= f.password_field :password, :size => 42 %>
	</div>
	<div class="form-row">
    	<label>Password confirmation:</label>
		<%= f.password_field :password_confirmation, :size => 42 %>
	</div>
	<div class="form-row">
		<label></label>
    	<%= f.submit 'Change password' %>
	</div>
<% end %>
